@use "../foundation/index" as *;

.c-headingLv2 {
  position: absolute;
  top: calc((var(--v-space) + 0.8em) * -1);
  font-family: --font-gothic;
  font-size: clamp_vw($min: 40, $middle: 0, $max: 70);
  min-height: 0vw;
  font-weight: 300;

  & > span {
    display: block;
    color: #666;
    font-size: rem(18);
  }
}
