@use "../foundation/index" as *;

/*========================================*/
/*  行揃え
/*========================================*/
.u-ta-left-xs {
  text-align: left;
}
.u-ta-center-xs {
  text-align: center;
}
.u-ta-right-xs {
  text-align: right;
}
.u-va-middle-xs {
  vertical-align: middle;
}

/*========================================*/
/*  font
/*========================================*/
// .u-marker-pink-xs {
//   background-color: $color-pink-d;
//   color: $color-white-l;
// }
// .u-marker-gray-xs {
//   background-color: $color-gray-l;
// }

/*========================================
* max-width
* ========================================*/

// 必要なものだけ追加していく

.u-ma-488-xs {
  max-width: 488px;
}
.u-ma-1120-xl {
  @include mq(xlMin) {
    max-width: 1120px;
  }
}

/*========================================
* margin
* ========================================*/

// 必要なものだけ追加していく

.u-ml-a-xs {
  margin-left: auto;
}
.u-mr-a-xs {
  margin-right: auto;
}
.u-mt-5-xs {
  margin-top: 5px;
}

@include mq(smMin) {
  .u-mt-10-sm {
    margin-top: 10px;
  }
}
@include mq(mdMin) {
  .u-mt-20-md {
    margin-top: 20px;
  }
}
@include mq(lgMin) {
  .u-mr-60-lg {
    margin-right: 60px;
  }
}

/*========================================*/
/*  要素タイプ
/*========================================*/
.u-d-bl-xs {
  display: block;
}
.u-d-ib-xs {
  display: inline-block;
}
.u-d-in-xs {
  display: inline;
}
.u-d-n-xs {
  display: none;
}
@include mq(lgMin) {
  .u-d-bl-lg {
    display: block;
  }
  .u-d-ib-lg {
    display: inline-block;
  }
  .u-d-in-lg {
    display: inline;
  }
  .u-d-n-lg {
    display: none;
  }
}

/*========================================*/
/*  表示・非表示
/*========================================*/
@include mq(xsMax) {
  .u-hidden-u-sm {
    display: none;
  }
}
@include mq(smMax) {
  .u-hidden-u-md {
    display: none;
  }
}
@include mq(mdMax) {
  .u-hidden-u-lg {
    display: none;
  }
}
@include mq(lgMax) {
  .u-hidden-u-xl {
    display: none;
  }
}
@include mq(smMin) {
  .u-hidden-o-sm {
    display: none;
  }
}
@include mq(mdMin) {
  .u-hidden-o-md {
    display: none;
  }
}
@include mq(lgMin) {
  .u-hidden-o-lg {
    display: none;
  }
}
@include mq(xlMin) {
  .u-hidden-o-xl {
    display: none;
  }
}
