@charset "UTF-8";
/*--------------------------------------
  Reset Css
---------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
code,
em,
img,
small,
strong,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
embed,
figure,
figcaption,
footer,
header,
nav,
section,
summary,
time,
audio,
video,
input,
button,
textarea,
select {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

/*========================================*/
/*  Color
/*========================================*/
:root {
  --color-primary: #e8b368;
  --color-white: #fff;
  --color-text-primary: #333;
}

/*========================================*/
/*  font-family
/*========================================*/
/*========================================*/
/*  break point
/*========================================*/
/*========================================*/
/*  media query Mixin
/*========================================*/
/*========================================*/
/*  Common-Setting
/*========================================*/
body {
  font-size: 1.4rem;
  background-color: #eee;
  color: #222;
  font-family: "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.02em;
  line-height: 1.5;
}

p {
  line-height: 1.8;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

ul,
ol,
li {
  list-style: none;
}

button {
  background-color: inherit;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.l-header {
  height: 112px;
  background-color: #fff;
}
.l-header.l-gridHeader {
  display: grid;
  grid-template-columns: 1fr min(92%, 1166px) 1fr;
}
.l-header.l-gridHeader > * {
  grid-column: 2;
}
.l-header.l-header--sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.l-header__container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.l-header__navBtn {
  cursor: pointer;
  font-size: 30px;
  color: #aaa;
}

.l-hero {
  height: 650px;
  background-position: center center;
  background-size: cover;
}

.l-hero__container {
  display: grid;
  align-content: center;
  justify-items: center;
  height: 100%;
}

.l-hero__title {
  margin-bottom: 42px;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(3rem, 5vw, 4.25rem);
  min-height: 0vw;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}

.l-hero__lead {
  margin-bottom: 72px;
}

@media print, screen and (min-width: 769px) {
  .footer {
    background-color: gray;
  }
}

.c-btn {
  display: block;
  width: 260px;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.125rem;
  text-align: center;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3215686275);
}
.c-btn:hover {
  filter: brightness(90%) contrast(120%);
}

.c-containerWrapper {
  width: min(92%, 1166px);
  margin-right: auto;
  margin-left: auto;
}

/*========================================*/
/*  行揃え
/*========================================*/
.u-ta-left-xs {
  text-align: left;
}

.u-ta-center-xs {
  text-align: center;
}

.u-ta-right-xs {
  text-align: right;
}

.u-va-middle-xs {
  vertical-align: middle;
}

/*========================================*/
/*  font
/*========================================*/
/*========================================
* max-width
* ========================================*/
.u-ma-488-xs {
  max-width: 488px;
}

@media print, screen and (min-width: 1366px) {
  .u-ma-1120-xl {
    max-width: 1120px;
  }
}

/*========================================
* margin
* ========================================*/
.u-ml-a-xs {
  margin-left: auto;
}

.u-mr-a-xs {
  margin-right: auto;
}

.u-mt-5-xs {
  margin-top: 5px;
}

@media print, screen and (min-width: 560px) {
  .u-mt-10-sm {
    margin-top: 10px;
  }
}
@media print, screen and (min-width: 769px) {
  .u-mt-20-md {
    margin-top: 20px;
  }
}
@media print, screen and (min-width: 960px) {
  .u-mr-60-lg {
    margin-right: 60px;
  }
}
/*========================================*/
/*  要素タイプ
/*========================================*/
.u-d-bl-xs {
  display: block;
}

.u-d-ib-xs {
  display: inline-block;
}

.u-d-in-xs {
  display: inline;
}

.u-d-n-xs {
  display: none;
}

@media print, screen and (min-width: 960px) {
  .u-d-bl-lg {
    display: block;
  }

  .u-d-ib-lg {
    display: inline-block;
  }

  .u-d-in-lg {
    display: inline;
  }

  .u-d-n-lg {
    display: none;
  }
}
/*========================================*/
/*  表示・非表示
/*========================================*/
@media screen and (max-width: 359px) {
  .u-hidden-u-sm {
    display: none;
  }
}
@media screen and (max-width: 559px) {
  .u-hidden-u-md {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .u-hidden-u-lg {
    display: none;
  }
}
@media screen and (max-width: 959px) {
  .u-hidden-u-xl {
    display: none;
  }
}
@media print, screen and (min-width: 560px) {
  .u-hidden-o-sm {
    display: none;
  }
}
@media print, screen and (min-width: 769px) {
  .u-hidden-o-md {
    display: none;
  }
}
@media print, screen and (min-width: 960px) {
  .u-hidden-o-lg {
    display: none;
  }
}
@media print, screen and (min-width: 1366px) {
  .u-hidden-o-xl {
    display: none;
  }
}
/* ==========================================================================
  Foundation
  ========================================================================== */
/* Reset
  ----------------------------------------------------------------- */
/* foundation
  ----------------------------------------------------------------- */
/* ==========================================================================
  Layout
  ========================================================================== */
/* ==========================================================================
  Object
  ========================================================================== */
/* Component
  ----------------------------------------------------------------- */
/**
 * Button
 */
/**
 * Media
 */
/* Project
  ----------------------------------------------------------------- */
/**
 * Articles
 */
/* Utility
  ----------------------------------------------------------------- */
