-
  var data = {
    recruit:{
      title: '作って学ぶHTML＆CSSモダンコーディング',
      description: '作って学ぶHTML＆CSSモダンコーディング',
      url: 'https://test.com',
      image :'https://test/img/ogp.jpg',
    },
  }
  //- 変数の反映先=> index.pug, _entry-btn.pugここのプロジェクト名を変更