-
  var data = {
    recruit:{
      title: 'title',
      description: 'desc',
      url: 'https://test.com',
      image :'https://test/img/ogp.jpg',
    },
  }
  //- 変数の反映先=> index.pug, _entry-btn.pugここのプロジェクト名を変更