@charset "UTF-8";
/*--------------------------------------
  Reset Css
---------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
code,
em,
img,
small,
strong,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
embed,
figure,
figcaption,
footer,
header,
nav,
section,
summary,
time,
audio,
video,
input,
button,
textarea,
select {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

/*========================================*/
/*  Color
/*========================================*/
:root {
  --color-primary: #e8b368;
  --color-white: #fff;
  --color-text-primary: #333;
}

/*========================================*/
/*  font-family
/*========================================*/
/*========================================*/
/*  break point
/*========================================*/
/*========================================*/
/*  media query Mixin
/*========================================*/
/**
* 最小のサイズを渡すと、clampを返す関数
* 推奨値と最大値を設定することもできる
* 推奨値や最大値が設定されたときには、そちらが優先される
* 最大値が設定されていた場合、推奨値は最大値に合わせる
*/
/*========================================*/
/*  Common-Setting
/*========================================*/
:root {
  --v-space: clamp(5.625rem, 11.719vw, 10rem);
  --font-gothic: "Montserrat", sans-serif;
}

body {
  font-size: 1.4rem;
  background-color: #eee;
  color: #222;
  font-family: "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.02em;
  line-height: 1.5;
}

p {
  line-height: 1.8;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

ul,
ol,
li {
  list-style: none;
}

button {
  background-color: inherit;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.l-header {
  height: 112px;
  background-color: #fff;
}
.l-header.l-gridHeader {
  display: grid;
  grid-template-columns: 1fr min(92%, 1166px) 1fr;
}
.l-header.l-gridHeader > * {
  grid-column: 2;
}
.l-header.l-header--sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.l-header__container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.l-header__navBtn {
  cursor: pointer;
  font-size: 30px;
  color: #aaa;
}

.l-footer {
  padding: 4.375rem 0;
  background-color: #fff;
  color: #707070;
  font-size: 0.8125rem;
}

.l-footer__container {
  display: grid;
  gap: 3.125rem;
  justify-items: center;
}
@media print, screen and (min-width: 768px) {
  .l-footer__container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 1.25rem;
    justify-items: start;
  }
}

@media print, screen and (min-width: 768px) {
  .l-footer__site {
    margin-bottom: 1.25rem;
  }
}

.l-footer__sns {
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
}
@media print, screen and (min-width: 768px) {
  .l-footer__sns {
    grid-column: 2;
    grid-row: 1/span 3;
    justify-self: end;
    align-self: center;
  }
}

.l-footer__snsIcon {
  display: grid;
  place-items: center;
  width: 2.25rem;
  aspect-ratio: 1/1;
  clip-path: circle(50%);
  color: #fff;
  background-color: #ccc;
}
@supports not (aspect-ratio: 1/1) {
  .l-footer__snsIcon {
    height: 36;
  }
}

.l-footer__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
}

.l-hero {
  height: 650px;
  background-position: center center;
  background-size: cover;
}

.l-hero__container {
  display: grid;
  align-content: center;
  justify-items: center;
  height: 100%;
}

.l-hero__title {
  margin-bottom: 42px;
  font-family: var(--font-gothic);
  font-size: clamp(3rem, 5vw, 4.25rem);
  min-height: 0vw;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}

.l-hero__lead {
  margin-bottom: 72px;
}

.l-lowerHero img {
  width: 100%;
  max-height: 25rem;
  object-fit: cover;
  margin-bottom: calc(var(--v-space) * 2 / 3);
}

.c-btn {
  display: block;
  width: 260px;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.125rem;
  text-align: center;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3215686275);
}
.c-btn:hover {
  filter: brightness(90%) contrast(120%);
}

.c-containerWrapper {
  position: relative;
  width: min(92%, 1166px);
  margin-right: auto;
  margin-left: auto;
}
.m-entry .c-containerWrapper {
  max-width: 45rem;
}

.c-imgTextColumn {
  padding: var(--v-space) 0;
  background-color: #fff;
}
.c-imgTextColumn + .c-imgTextColumn {
  padding-top: 0;
}

.c-imgTextColumn__container {
  display: flex;
  flex-direction: column;
  gap: clamp(2.8125rem, 5.857vw, 5rem);
  display: grid;
}
@media print, screen and (min-width: 768px) {
  .c-imgTextColumn__container {
    flex-direction: row;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
  .c-imgTextColumn__container.c-imgTextColumn__container--reverse {
    flex-direction: row-reverse;
    grid-template-columns: 2fr 1fr;
  }
}

.c-imgTextColumn__text {
  min-width: 17em;
  flex: 1;
}
@media print, screen and (min-width: 768px) {
  .c-imgTextColumn__container--reverse .c-imgTextColumn__text {
    order: 2;
  }
}

.c-imgTextColumn__img {
  flex: 2;
}
@media print, screen and (min-width: 768px) {
  .c-imgTextColumn__container--reverse .c-imgTextColumn__img {
    order: 1;
  }
}

.c-headingDecoration {
  font-size: clamp(1.5rem, 3.125vw, 2.6875rem);
  min-height: 0vw;
  font-weight: 400;
}
.c-headingDecoration::after {
  display: block;
  content: "";
  width: 160px;
  height: 0;
  border-top: 1px solid #b72661;
  margin-top: 0.6em;
}
.c-headingDecoration + p {
  margin-top: 1em;
  margin-bottom: 2em;
  color: #707070;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
}
.m-entry .c-headingDecoration {
  font-size: clamp(1.875rem, 3.514vw, 3rem);
}

.c-posts {
  padding: var(--v-space) 0;
  background-color: #f3f1ed;
}

.c-headingLv2 {
  position: absolute;
  top: calc((var(--v-space) + 0.8em) * -1);
  font-family: --font-gothic;
  font-size: clamp(2.5rem, 3.906vw, 1.875rem);
  font-size: clamp(0.625rem, 3.906vw, 1.875rem);
  min-height: 0vw;
  font-weight: 300;
}
.c-headingLv2 > span {
  display: block;
  color: #666;
  font-size: 1.125rem;
}

.m-postCard {
  transition: 0.4s ease;
}
.m-postCard:hover {
  filter: brightness(80%) contrast(120%);
}
@media print, screen and (min-width: 768px) {
  .m-postCard:nth-of-type(1) {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .m-postCard:nth-of-type(1) .m-postCard_img {
    aspect-ratio: 4/3;
  }
}
@media print, screen and (min-width: 768px) {
  .m-postCard:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1;
  }
}
@media print, screen and (min-width: 768px) {
  .m-postCard:nth-of-type(3) {
    grid-column: 3;
    grid-row: 2;
  }
}
@media print, screen and (min-width: 768px) {
  .m-postCard:nth-of-type(4) {
    grid-column: 1;
    grid-row: 3;
  }
}
@media print, screen and (min-width: 768px) {
  .m-postCard:nth-of-type(5) {
    grid-column: 1;
    grid-row: 4;
  }
}
@media print, screen and (min-width: 768px) {
  .m-postCard:nth-of-type(6) {
    grid-column: 2/4;
    grid-row: 3/5;
  }
  .m-postCard:nth-of-type(6) .m-postCard_img {
    aspect-ratio: 4/3;
  }
}

.m-postCard_img {
  display: block;
  aspect-ratio: 3/2;
  object-fit: cover;
}
@supports not (aspect-ratio: 3/2) {
  .m-postCard_img {
    height: 180px;
  }
}

.m-postCard_title {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: clamp(0.75rem, 1.464vw, 1.25rem);
  min-height: 0vw;
}

.m-postCard_text {
  font-size: clamp(0.625rem, 1.025vw, 0.875rem);
  min-height: 0vw;
}

.m-entry {
  padding-bottom: var(--v-space);
  background-color: #fff;
}

.m-entry__container {
  font-size: clamp(1rem, 1.318vw, 1.125rem);
}
.m-entry__container :where(h1, h2, h3, h4, h5, h6, p, figure, ul) {
  margin-top: revert;
  margin-bottom: revert;
  padding: revert;
  list-style: revert;
}
.m-entry__container p {
  margin: 1.8em 0;
}
.m-entry__container > :first-child {
  margin-top: 0;
}
.m-entry__container > :last-child {
  margin-bottom: 0;
}

.p-postsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 1.5625rem;
}
@media print, screen and (min-width: 769px) {
  .p-postsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*========================================*/
/*  行揃え
/*========================================*/
.u-ta-left-xs {
  text-align: left;
}

.u-ta-center-xs {
  text-align: center;
}

.u-ta-right-xs {
  text-align: right;
}

.u-va-middle-xs {
  vertical-align: middle;
}

/*========================================*/
/*  font
/*========================================*/
/*========================================
* max-width
* ========================================*/
.u-ma-488-xs {
  max-width: 488px;
}

@media print, screen and (min-width: 1366px) {
  .u-ma-1120-xl {
    max-width: 1120px;
  }
}

/*========================================
* margin
* ========================================*/
.u-ml-a-xs {
  margin-left: auto;
}

.u-mr-a-xs {
  margin-right: auto;
}

.u-mt-5-xs {
  margin-top: 5px;
}

@media print, screen and (min-width: 560px) {
  .u-mt-10-sm {
    margin-top: 10px;
  }
}
@media print, screen and (min-width: 769px) {
  .u-mt-20-md {
    margin-top: 20px;
  }
}
@media print, screen and (min-width: 960px) {
  .u-mr-60-lg {
    margin-right: 60px;
  }
}
/*========================================*/
/*  要素タイプ
/*========================================*/
.u-d-bl-xs {
  display: block;
}

.u-d-ib-xs {
  display: inline-block;
}

.u-d-in-xs {
  display: inline;
}

.u-d-n-xs {
  display: none;
}

@media print, screen and (min-width: 960px) {
  .u-d-bl-lg {
    display: block;
  }

  .u-d-ib-lg {
    display: inline-block;
  }

  .u-d-in-lg {
    display: inline;
  }

  .u-d-n-lg {
    display: none;
  }
}
/*========================================*/
/*  表示・非表示
/*========================================*/
@media screen and (max-width: 359px) {
  .u-hidden-u-sm {
    display: none;
  }
}
@media screen and (max-width: 559px) {
  .u-hidden-u-md {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .u-hidden-u-lg {
    display: none;
  }
}
@media screen and (max-width: 959px) {
  .u-hidden-u-xl {
    display: none;
  }
}
@media print, screen and (min-width: 560px) {
  .u-hidden-o-sm {
    display: none;
  }
}
@media print, screen and (min-width: 769px) {
  .u-hidden-o-md {
    display: none;
  }
}
@media print, screen and (min-width: 960px) {
  .u-hidden-o-lg {
    display: none;
  }
}
@media print, screen and (min-width: 1366px) {
  .u-hidden-o-xl {
    display: none;
  }
}
/*========================================*/
/* アクセシビリティ
/*========================================*/
.u-srOnly {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* ==========================================================================
  Foundation
  ========================================================================== */
/* Reset
  ----------------------------------------------------------------- */
/* foundation
  ----------------------------------------------------------------- */
/* ==========================================================================
  Layout
  ========================================================================== */
/* ==========================================================================
  Object
  ========================================================================== */
/* Component
  ----------------------------------------------------------------- */
/**
 * Modules
  ----------------------------------------------------------------- */
/* Project
  ----------------------------------------------------------------- */
/**
 * Articles
 */
/* Utility
----------------------------------------------------------------- */
