article.m-entry
  figure.l-lowerHero
    img(src="/img/service.webp", alt="" width="1600" height="470")
  .c-containerWrapper
    h1.c-headingDecoration サービス案内
    p Service
    .m-entry__container
      p 身近にあふれるたくさんの文具や事務用品。こうしたステーショナリーは仕事に欠かせないものであると同時に、毎日を楽しくしてくれるものでもあり、クリエイティブを刺激してくれるものでもあります。
      p Boads ではサブスクリプションの形式で、さまざまな道具の提供、販売、貸出などのサービスを展開しています。
      p 主要都市にある工房スペースでは最新の3Dプリンターやレーザーカッターなどの工具もご利用いただけます。
      p もちろん、オンライン上での便利な制作・管理ツールも取り揃えていますので、どんどん活用してください。