section.p-plans
  .c-containerWrapper
    h2.c-headingLv2 Service Plans#[span サービスプラン]
    ul.p-plansContainer
      li.p-plan
        h3.p-plan__title Free
        p.p-plan__desc 便利なオンラインツールを今すぐご利用いただけるプランです。
        p.p-plan__price 無料
        a.c-btn(href="#") 使ってみる
      li.p-plan
        h3.p-plan__title Standard
        p.p-plan__desc 厳選した最新のステーショナリーグッズを毎月お届けするスタンダードプランです。
        p.p-plan__price 980円/月
        a.c-btn.-accent(href="#") 使ってみる
      li.p-plan
        h3.p-plan__title Professional
        p.p-plan__desc プロフェッショナルなツールの貸し出し、工房の利用など、さまざまな要望にお応えするプランです。
        p.p-plan__price 2,800円/月
        a.c-btn.-accent(href="#") 使ってみる