.footer {
  background-color: $color-gray-l;
  &__inner {
    padding: 0 16px;
    @include mq(lgMin) {
      margin: 0 auto;
      max-width: 1200px;
      padding: 110px 40px 40px;
    }
    @include mq(xlMin) {
      padding: 110px 0 40px;
    }
  }
}
.footer-nav {
  @include mq(lgMin) {
    display: flex;
    justify-content: space-between;
  }
  nav {
    @include mq(lgMin) {
      flex: 1;
      max-width: 420px;
      width: 100%;
    }
  }
  &__item {
    border-bottom: 1px solid $color-gray-d;
    height: 64px;
    line-height: 6.4rem;
    position: relative;
    @include mq(lgMin) {
      border: inherit;
    }
    &:first-of-type {
      border-top: 1px solid $color-gray-d;
      @include mq(lgMin) {
        border: inherit;
      }
    }
    a {
      bottom: 0;
      height: 100%;
      left: 0;
      padding-left: 25px;
      // リンクを枠いっぱいに広げる
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      @include mq(lgMin) {
        padding: inherit;
        position: inherit;
      }
      &::before {
        background-color: $color-black-d;
        bottom: -4px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transition: 0.3s;
        width: 0;
      }
      &:hover {
        &::before {
          transition: 0.3s;
          width: 100%;
        }
      }
    }
    // dot
    &::before {
      background-color: $color-pink-d;
      border-radius: 10px;
      content: "";
      height: 6px;
      left: 9px;
      position: absolute;
      top: 51%;
      transform: translateY(-50%);
      width: 6px;
      @include mq(lgMin) {
        content: inherit;
      }
    }
  }
  &__brand {
    display: block;
    font-size: 1.7rem;
    padding: 46px 0 30px 8px;
    text-align: center;
    @include mq(lgMin) {
      align-items: center;
      display: flex;
      font-size: 2rem;
      letter-spacing: 0.02em;
      margin-right: 40px;
      padding: inherit;
    }
    img {
      height: 33px;
      margin-right: 16px;
    }
    span {
      font-size: 1.6rem;
      font-weight: 700;
      white-space: nowrap;
    }
  }
}
.footer-link {
  padding-bottom: 48px;
  @include mq(lgMin) {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 540px;
    padding: 25px 8px;
    @include mq(lgMin) {
      padding: inherit;
    }
  }
  &__item {
    flex-basis: 50%;
    &:nth-of-type(2n) {
      padding-left: 12px;
    }
    @media screen and (min-width: 567px) {
      flex-basis: inherit;
      padding-left: inherit;
    }
    @include mq(lgMin) {
      padding-left: 22px;
      &:nth-of-type(2n) {
        padding-left: 22px;
      }
      &:first-of-type {
        padding-left: 0;
      }
    }
    a {
      color: $font-color-gray-l;
      font-size: 1.3rem;
      @include mq(lgMin) {
        font-size: 1.1rem;
      }
    }
  }
  &__sns-box {
    display: flex;
    justify-content: center;
    margin-top: 18px;
    @include mq(lgMin) {
      align-items: center;
      margin-top: 0;
    }
    & .fb_iframe_widget span {
      display: block;
      margin: 0 20px;
    }
  }
}
.footer-copy {
  background-color: #fff;
  color: $font-color-gray-l;
  font-family: $font-gothic;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 20px 0;
  text-align: center;
  @include mq(lgMin) {
    background-color: inherit;
    border-top: 1px solid $color-gray-d2;
    margin: 0;
  }
}
