@use "../foundation/index" as *;

.l-header {
  height: 112px;
  background-color: #fff;

  // 横幅と左右の余白: gridで調整するパターン
  &.l-gridHeader {
    display: grid;
    grid-template-columns: 1fr min(92%, 1166px) 1fr;

    & > * {
      grid-column: 2;
    }
  }

  &.l-header--sticky {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

.l-header__container {
  display: flex;
  height: 100%;
  // flexで設定するケース1
  justify-content: space-between;
  align-items: center;

  // flexで設定するケース2
  // justify-content: flex-start;
  // & > .l-header__brand {
  //   margin-right: auto;
  // }

  // gridで設定するケース
  // display: grid;
  // grid-auto-flow: column;
  // grid-template-columns: 1fr;
}

.l-header__navBtn {
  cursor: pointer;
  font-size: 30px;
  color: #aaa;

  @include media("md") {
    display: none;
  }

  .fa-bars {
    display: revert;
  }

  .fa-times {
    display: none;
  }

  .open & {
    z-index: 110;
    color: #fff;
    transform: translateX(-10px);

    .fa-bars {
      display: none;
    }

    .fa-times {
      display: revert;
    }
  }
}

.hamburger--collapse {
  .hamburger-inner {
    background-color: currentColor;

    &::before,
    &::after {
      background-color: currentColor;
    }
  }

  &.is-active {
    .hamburger-inner {
      background-color: #fff;

      &::before,
      &::after {
        background-color: #fff;
      }
    }
  }
}

.l-header__nav {
  position: fixed;
  inset: 0 -100% 0 100%;
  z-index: 100;
  background-color: #4e483ae6;
  transition: 0.3s ease;

  @include media("md") {
    inset: revert;
    background-color: revert;
    position: revert;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: rem(40);
    color: #fff;

    @include media("md") {
      color: #707070;
      flex-direction: row;
    }
  }

  .open & {
    transform: translateX(-100%);
  }
}
