@use "../foundation/index" as *;

.l-header {
  height: 112px;
  background-color: #fff;

  // 横幅と左右の余白: gridで調整するパターン
  &.l-gridHeader {
    display: grid;
    grid-template-columns: 1fr min(92%, 1166px) 1fr;

    & > * {
      grid-column: 2;
    }
  }

  &.l-header--sticky {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

.l-header__container {
  display: flex;
  height: 100%;
  // flexで設定するケース1
  justify-content: space-between;
  align-items: center;

  // flexで設定するケース2
  // justify-content: flex-start;
  // & > .l-header__brand {
  //   margin-right: auto;
  // }

  // gridで設定するケース
  // display: grid;
  // grid-auto-flow: column;
  // grid-template-columns: 1fr;
}

.l-header__navBtn {
  cursor: pointer;
  font-size: 30px;
  color: #aaa;
}
