footer.l-footer
  .l-footer__container.c-containerWrapper
    .l-footer__site
      a(href="/"): img(src="/img/logo.svg", alt="Brands" width="135" height="26")
    ul.l-footer__sns
      li: a(href="#")
        i.fab.fa-twitter
        span.u-srOnly Twitter
      li: a(href="#")
        i.fab.fa-facebook-f
        span.u-srOnly Facebook
      li: a(href="#")
        i.fab.fa-instagram
        span.u-srOnly Instagram
    ul.l-footer__menu
      li: a(href="") 会社概要
      li: a(href="") 特定商取引
      li: a(href="") 個人情報の取り扱い
      li: a(href="") サービス案内
      li: a(href="") お問い合わせ
    .l-footer__copy @ Brands Production
