header.site-header
  .site-header__wrapper
    .site-header__contents
      nav.header-nav
        ul.header-nav__wrapper
          li.header-nav__item
            a(href='') sample
          li.header-nav__item
            a(href='') sample


      // global nav
      button.js-btn-trigger#js_btn_trigger
        span
        span
        span

      nav.global-nav#js-global-nav
        .contents
          ul.global-nav__wrapper
            li.global-nav__item
              a(href='') sample
            li.global-nav__item
              a(href='') sample