//- header.l-header.l-header--sticky
//- header.l-header.l-gridHeader
header.l-header
  .l-header__container.c-containerWrapper
    .l-header__brand
      a(href="")
        img(src="img/logo.svg", alt="" ,width="135", height="26")
    button.l-header__navBtn
      i.fas.fa-bars
      span.sr-only MENU