section.c-imgTextColumn
  .c-imgTextColumn__container.c-containerWrapper
    .c-imgTextColumn__text
      h2.c-headingDecoration 日常のツールたち
      p Convenient
      p どこにでもある、誰でも使ったことがある、普段は存在を意識しないけど困るツールたち。日常をちょっと楽しくしてくれます。
    figure.c-imgTextColumn__img
      img(src="/img/tool.webp", width="1600" height="1260" alt="")

section.c-imgTextColumn
  .c-imgTextColumn__container.c-imgTextColumn__container--reverse.c-containerWrapper
    .c-imgTextColumn__text
      h2.c-headingDecoration 日常のツールたち
      p Convenient
      p どこにでもある、誰でも使ったことがある、普段は存在を意識しないけど困るツールたち。日常をちょっと楽しくしてくれます。
    figure.c-imgTextColumn__img
      img(src="/img/helpful.webp", width="1600" height="1260" alt="")
