section.l-hero(style="background-image:url(img/hero.webp)")
  .l-hero__container.c-containerWrapper
    h1.l-hero__title Stationery Services
    p.l-hero__lead 便利な道具とサービスをお届けします
    a.c-btn(href="") 無料で始める
    //- .inner
    //-   h1.l-hero__title Stationery Services
    //-   p.l-hero__lead 便利な道具とサービスをお届けします
    //-   a.c-btn(href="") 無料で始める