section.c-posts
  .c-containerWrapper
    h2.c-headingLv2 News Releases#[span 最新情報]
    .p-postsContainer
      article.m-postCard
        a(href="#")
          figure.m-postCard_figure
            img.m-postCard_img(src="/img/news01.webp", alt="" width="1000" height="750")
            h3.m-postCard_title スパンコール
            p.m-postCard_text キラキラと光を反射する装飾素材です。いつもの道具にアクセントをつけます。
      article.m-postCard
        a(href="#")
          figure.m-postCard_figure
            img.m-postCard_img(src="/img/news02.webp", alt="" width="1000" height="750")
            h3.m-postCard_title スパンコール
            p.m-postCard_text キラキラと光を反射する装飾素材です。いつもの道具する装飾素材です。いつもの道具する装飾素材です。いつもの道具にアクセントをつけます。
      article.m-postCard
        a(href="#")
          figure.m-postCard_figure
            img.m-postCard_img(src="/img/news03.webp", alt="" width="1000" height="750")
            h3.m-postCard_title スパンコール
            p.m-postCard_text キラキラと光を反射する装飾素具にアクセントをつけます。
      article.m-postCard
        a(href="#")
          figure.m-postCard_figure
            img.m-postCard_img(src="/img/news04.webp", alt="" width="1000" height="750")
            h3.m-postCard_title スパンコール
            p.m-postCard_text キラキラと光を反射する装材です。いつもの道材です。いつもの道材です。いつもの道の道具にアクセントをつけます。
      article.m-postCard
        a(href="#")
          figure.m-postCard_figure
            img.m-postCard_img(src="/img/news05.webp", alt="" width="1000" height="750")
            h3.m-postCard_title スパンコール
            p.m-postCard_text キラキラと光を反射する装飾素材です。いつもの道素材です。いつもの道素材です。いつもの道素材です。いつもの道素材です。いつもの道素材です。いつもの道素材です。いつもの道素材です。いつもの道具にアクセントをつけます。
      article.m-postCard
        a(href="#")
          figure.m-postCard_figure
            img.m-postCard_img(src="/img/news06.webp", alt="" width="1000" height="750")
            h3.m-postCard_title スパンコール
            p.m-postCard_text キラキラと光を反射する装飾素材です。いつもの道具にアクセントをつけます。